<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/stylesheets/about.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <script src="../public/javascripts/scroll.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/" style="animation: yourAnimation 1s 1 0s linear; padding: 0;"><span style="font-weight: 700;"><img src="../public/images/finallogo.png" alt="" style="height: 80px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" style="animation: yourAnimation 1s 1 0s linear;">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item" style="animation: yourAnimation 1s 1 0s linear;">
        <a class="nav-link" href="/people">Our People</a>
      </li>
      <li class="nav-item" style="animation: yourAnimation 1s 1 0s linear;">
        <a class="nav-link" href="/projects">Project Gallery</a>
      </li>
      <li class="nav-item" style="animation: yourAnimation 1s 1 0s linear;">
        <a class="nav-link" href="/contact">Contact</a>
      </li>     
    </ul>
  </div>  
</nav>

<div class="hero-image">
    <div class="hero-text">
        <h1 class="ht" style="animation: yourAnimation 1s 1 0s linear;">Making your dreams come alive</h1>
    </div>
</div>
<br><br><br><br><br><br>
<div class="container">
    <div>
        <h3>'First and foremost, we design for people'.</h3>
        <h3>Hamilton Wilson, Managing Director</h3>
    </div>
    <br><br>
    <div>
        <p class="info">
            <span>Exceptional customer service</span> is essential to our work. We listen to your needs and thoughtfully interpret your requirements.
            <br><br>
            The <span>integration of landscape and architecture</span> is at the heart of all our design. We have been providing integrated landscape architecture for more than 50 years.
            <br><br>
            <span>Our research</span> informs our strategic thinking and is the basis for our ongoing design innovation. We believe sharing our research is essential to drive advances in education, laboratories and other sectors
            <br><br>
            We invite you to subscribe to our research updates to keep informed about the latest thinking and trends in your sector. 
        </p>
    </div>
    <br>
    <div>
        <h3>
            130+ years of design excellence.
        </h3>
    </div>
    <br><br>
    <div>
        <h4>We specialise in:</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/3.jpg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                EDUCATION + MASTER PLANNING
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                We design education environments that strengthen our relationships, sustain our communities and support us as individuals. We place the students’ experience at the centre of our work and our ongoing research program drives us to enhance our understanding/design with each project.
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>    
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info dm" style="font-size: xx-large;">
                Now the sky is the limit for teaching and learning, and you are only regulated by your ability to imagine.
            </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                    — Natasha Podoliak, Brisbane Boys’ College, Director of Middle School Student Development
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/5.jpg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                HEALTH CARE
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                We design health places that support wellbeing and form a relationship with the natural environment. Our thoughtful approach combines the functions of health centres with the sensitivities of human wellbeing. 
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>    
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info dm" style="font-size: xx-large;">
                Being surrounded by luscious greenery, light streaming in, and the tranquility of the fish pond, gives a feeling of calm and respite.            
            </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                — Fiona Heckelmann, Caboolture GP Superclinic visitor
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/16.jpeg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                LABORATORIES & RESEARCH
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                We have been at the forefront of science-based research and laboratory architecture for over 40 years, and have designed more than 50 innovative laboratory and science-based research projects for some of Australia’s premier research institutes and universities.
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>            
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info dm" style="font-size: xx-large;">
                We’re going to do something that nobody else is doing in the world, because we have these facilities.            
            </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                — Translational Research Institute; Assoc. Prof Mark Bowles – Former COO Mater Medical Research            
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/13.jpg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                LANDSCAPE ARCHITECTURE            
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                Our landscape architecture team are recognised across Australia for their expertise. We have been providing integrated landscape architecture services for more than 50 years. Our approach draws on our cultural and climatic traditions to blur the boundaries between architecture and nature.
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>             
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info meh" style="font-size: xx-large; transform: translate(0,-30%);">
                The garden setting and the flowing water course give a very natural feeling to the space, creating a green haven. The students and staff find it a very relaxing place to study, work and contemplate.            
            </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                — Professor Alan Rix, Pro Vice Chancellor, University of Queensland            
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/4.jpg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                STUDENT HOUSING & MULTI-RESIDENTIAL
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                We understand how to design flexible, quality housing that is cost-effective and appealing. Our quality multi-residential projects create a sense of community and identity whether they be student housing, senior living projects, refurbishments or new builds.  
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>               
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info meh" style="font-size: xx-large; transform: translate(0,-40%);">
                The Centenary Building is the new benchmark for residential colleges in Australia. It has re-defined the concept and standard for college living.           
             </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                — Greg Eddy, Master and Chief Executive of King’s College            
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/1.jpg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                SENIOR LIVING
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                We design beautiful senior living environments that combine all the comforts of home with award- winning landscape architecture, and a strong sense of community. Our quality projects put residents at the heart of the project, while maximising operational efficiency to increase the value of your development.
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>    
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info dm" style="font-size: xx-large;">
                Nothing about the facility says ‘nursing home’. It feels like a retirement village for younger people, not a high care facility,            
            </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                — Michael O’Donnell, Director of Property Freedom Aged Care, Toowoomba            
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 sp im">
            <img src="../public/images/2.jpg" alt="" class="iv show-on-scroll">
        </div>
        <br><br>
        <div class="col-md-12 sp">
            <h3 class="da">
                OLD BUILDINGS MADE NEW
            </h3>
        </div>
        <div class="col-md-6 sp">
            <p class="info" style="text-align: left;">
                We understand when and how to let the past be revealed in each building. This sensitivity is a hallmark of our design. We use devices that are in context but clearly new, such as building materials and colour palettes, to make a connection to the past.
                <br><br>
                <a href="/projects">See our projects, research, and media articles to learn more.</a>    
            </p>
        </div>
        <div class="col-md-6 sp">
            <p class="ic"></p>
            <p class="info dm" style="font-size: xx-large;">
                You have brought this building to life again. [The UQ Mayne Hall Art Museum] is a warm and welcoming building, designed for people.            
            </p>
            <p class="info dm text-muted" style="font-size: xx-large;">
                — Professor John Hay, former University of Queensland Vice Chancellor            
            </p>
        </div>
    </div>
    <div>
        <h3 style="text-align: left;">
            Where we work
        </h3>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12 sp" style="max-height: 800px;">
            <img src="../public/images/map.jpg" alt="" style="height: 800px;" class="rs">
        </div>
    </div>
</div>
<br><br><br>
<div class="feet">
    <br><br>
    <p style="text-align: center; color: white; ">
        MEMORIES  ABODE, 564 BOUNDARY ST, SPRING HILL, QLD, 4000, AUSTRALIA<br>CONTACT :07 3831 2755<br>MA@MEMORIESABODE.COM.AU
    </p>
    <div class="sma" style="margin-left: 42%;">
        <div><a href="https://www.instagram.com/?hl=en"><img class="sg" src="../public/images/instagram-sketched.svg" alt="" style="padding-right: 15px;"></a><a href="https://www.facebook.com/"><img src="../public/images/facebook.svg" alt="" style="height: 48px; padding-right: 15px;"></a><a href="https://twitter.com/?lang=en"><img class="sg" src="../public/images/twitter.svg" alt="" style="padding-right: 15px;"></a><a href="https://in.linkedin.com/"><img class="sg" src="../public/images/linkedin.svg" alt=""></a></div>
    </div>
</div>

</body>
<script src="../public/javascripts/animation.js"></script>
</html>


