<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="../public/stylesheets/contact.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
    <script src="../public/javascripts/scroll.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="/" style="animation: yourAnimation 1s 1 0s linear; padding: 0;"><span style="font-weight: 700;"><img src="../public/images/finallogo.png" alt="" style="height: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="animation: yourAnimation 1s 1 0s linear;">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item" style="animation: yourAnimation 1s 1 0s linear;">
          <a class="nav-link" href="/people">Our People</a>
        </li>
        <li class="nav-item" style="animation: yourAnimation 1s 1 0s linear;">
          <a class="nav-link" href="/projects">Project Gallery</a>
        </li>
        <li class="nav-item active" style="animation: yourAnimation 1s 1 0s linear;">
          <a class="nav-link" href="/contact">Contact</a>
        </li>     
      </ul>
    </div>  
  </nav>
      
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="ht" style="animation: yourAnimation 1s 1 1s linear;">Contact</h1>
        </div>
    </div>
    <br><br><br><br><br><br>
    
    <div class="container">
      <div><h3>Contact Form</h3></div>
      <div class="contact">
        <div class="row">
            <div class="form col-md-12">
              <form action="/contact/create" method="POST">
                <label for="name">Name :</label>
                <input type="text" id="fullname" name="fullname" placeholder="Name">
                <label for="email">E-mail :</label>
                <input type="email" id="email" name="email" placeholder="E-mail">
                <label for="msg">Message :</label>
                <textarea rows="10" id="message" name="message" cols="10" placeholder="Message"></textarea>
                <button type="submit" onclick="stream()">SUBMIT</button>
              </form>
          </div>
        </div>
      </div>
      <br><br><br>
      <div>
        <h3>OUR HEAD OFFICE</h3>
      </div>
      <div class="info">
        <p style="text-align: center;">
          MEMORIES  ABODE, 564 BOUNDARY ST, SPRING HILL, QLD, 4000, AUSTRALIA<br>CONTACT :07 3831 2755<br>MA@MEMORIESABODE.COM.AU
        </p>
      </div>
      <br>
      <div id="map"></div>
    </div>
    <br><br><br>
    <div class="feet">
        <br><br>
        <p style="text-align: center; color: white; ">
          MEMORIES  ABODE, 564 BOUNDARY ST, SPRING HILL, QLD, 4000, AUSTRALIA<br>CONTACT :07 3831 2755<br>MA@MEMORIESABODE.COM.AU
        </p>
        <div class="sma" style="margin-left: 42%;">
            <div><a href="https://www.instagram.com/?hl=en"><img class="sg" src="../public/images/instagram-sketched.svg" alt="" style="padding-right: 15px;"></a><a href="https://www.facebook.com/"><img src="../public/images/facebook.svg" alt="" style="height: 48px; padding-right: 15px;"></a><a href="https://twitter.com/?lang=en"><img class="sg" src="../public/images/twitter.svg" alt="" style="padding-right: 15px;"></a><a href="https://in.linkedin.com/"><img class="sg" src="../public/images/linkedin.svg" alt=""></a></div>
        </div>
    </div>
    <script src="../public/javascripts/contact.js"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzT1r1sOloPN68_eMEcAq6QCyqTTulRPo&callback=initMap">
    </script>
    
    <script>      
      function stream (){

        $fullname = $("#fullname").val();
        $email = $("#email").val();
        $message = $("#message").val();

        var details={
          fullname : $fullname,
          email : $email,
          message : $message
        }

        $.ajax({
    
        success : function(res){
          alert("Your Response has been succesfully accepted"),
          window.location.href="/contact";
        },
        error : function(err){
          alert("your response has not been accepted")
          console.log(err)
        }
      })
      }
    </script>

</body>
</html>